name: Sync GitHub labels

on:
  push:
    branches:
      - main
    paths:
      - ".github/labels.yml"
      - ".github/workflows/labels-sync.yml"
  workflow_dispatch:

jobs:
  labeler:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Sync labels from .github/labels.yml
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .github/labels.yml
          # dry-run false -> tekee oikeat muutokset
          dry-run: false
